<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up | Bootstrap Simple Admin Template</title>
    {% load static %}
    <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/auth.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>